<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InternMap - Login</title>
    <link rel="icon" type="image/png" href="/Images/Navi/Navi%20Unique%20(Shadow-less).png">
    <link rel="stylesheet" th:href="@{/CSS/InternMapSignIn.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header th:fragment="header">
    <div class="header-top">
        <nav class="header-nav">
            <a th:href="@{/login}">
                <button class="btn-header primary">Sign in</button>
            </a>
        </nav>
    </div>
    <div class="header-hero">
        <img class="logo" src="/Images/Navi/Navi%20Unique.png" alt="Logo" style="height: 125px; width: 125px;">
    </div>
</header>
</html>