<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="icon" type="image/png" href="/images/Navi/Navi%20Unique%20(Shadow-less).png">
    <link rel="stylesheet" th:href="@{/css/Universal.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<footer th:fragment="indexFooter">
    <div class="footer-container">
        <section class="section">
        <img src="/images/Navi/Navi%20Straight.png" alt="Logo" style="height: 38px; width: 38px; margin-right: 10px; ">
        <h2 class="small-text">InternMap</h2>
        </section>
        <h4 class="small-text" onclick="location.href='/'" style="cursor:pointer;">Home</h4>
    </div>
</footer>
</html>