<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> InternMap </title>
    <link rel="icon" type="image/png" href="/images/Logo Glass Large.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/CSS/header.css}">
    <meta name="viewport" content="width=device-width">
</head>
<header>
    <div id="h1">
        <div id="T1" class="box" onclick="location.href = '/'" style="cursor: pointer">
            InternMap
        </div>
        <div id="s1" class="box-sign-buttons">
            <!--/*@thymesVar id="isLoggedIn" type="bool"*/-->
            <button id="hb1" onclick="location.href='/login'" th:if="${isLoggedIn == false}">Sign in</button>
            <a th:href="@{/signup-choice}" style="text-decoration: none;"></a>
            <button id="hb3" onclick="location.href='/signup-choice'" th:if="${isLoggedIn == false}">Sign up</button>
            <form id="hb4" onclick="location.href='/logout';" th:if="${isLoggedIn == true}">Log out</form>
            <button id="hb6" onclick="location.href='/profile'" th:if="${isLoggedIn == true}">
                <img id="person-fill" src="/images/person_fill.png" alt="Profile" style="width: 25px; height: 26px; margin-left: 10px;">
            </button>
        </div>
    </div>
    <div id="l1">
        <img id="logo" src="/images/Logo%20With%20Shadow.png" alt="This didn't load successfully >:(" onclick="location.href = '/';" style="cursor: pointer; height: 125px; width: 125px;">
        <span id="p1">InternMap</span>
        <span id="p2">Welcome to the platform that sets your future for you</span>
    </div>
</header>