<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IndexHeaderAndFooter</title>
    <link rel="icon" type="image/png" href="/Images/Navi/Navi%20Unique%20(Shadow-less).png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/Universal.css}">
    <meta name="viewport" content="width=device-width">
</head>

<header class="header">
    <section class="section wide" onclick="location.href = '/'">
<!--        <img src="/Images/Mono/Straight%20Hero.png" alt="Logo" style="height: 55px; width: 55px;">-->
        <img class="logo" src="/Images/Navi/Navi%20Unique.png" alt="Logo">
        <h1>InternMap</h1>
    </section>

    <!--/*@thymesVar id="isLoggedIn" type="Boolean"*/-->
    <section class="section" th:if="${isLoggedIn == false}">
        <button class="button-secondary" onclick="location.href='/login'">Sign in</button>
        <button class="button-prominant" onclick="location.href='/signup'">Sign up</button>
    </section>

    <section class="section wide" th:if="${isLoggedIn == true}">
        <form method="POST" th:action="@{/logout}">
            <button class="button-prominant" type="submit" value="Log out">Log out</button>
        </form>

        <button class="for-icon" onclick="location.href='/profile'">
            <img class="icon clickable" src="/Images/person_fill.png" alt="Profile" style="margin-top: 2px; margin-left: 1px">
        </button>
    </section>
<!--    <div id="l1">-->
<!--        <img id="logo" src="/images/navi/navi%20Unique.png" alt="Logo" onclick="location.href = '/';" style="cursor: pointer; height: 125px; width: 125px;">-->
<!--        <span id="p1">InternMap</span>-->
<!--        <span id="p2">Welcome to the platform that sets your future for you</span>-->
<!--    </div>-->
</header>