<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/head}">
<head>
    <link rel="icon" type="image/png" href="/Images/Red Large Logo.png">
    <link rel="stylesheet" th:href="@{/css/Universal.css}">
    <title>Error</title>
</head>

<body>
    <div class="centered">
        <img class="logo-mono" src="/Images/Mono/Navi%20Unique%20Mono.png" alt="Twisted Mono" style="width: 80px; z-index: 0">
        <br>
        <div class="container">
            <div style="display: grid; align-items: center; justify-items: center;">
                <h1>Error</h1>
                <a class="fine-context" th:text="${error}"></a>
            </div>

            <p th:text="${#messages}"></p>
            <button class="button-prominant center" onclick="location.href = '/'">Home</button>
            <br>
        </div>
    </div>
</body>
</html>