<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-src="~{fragments/head}">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/InternMapHomepage.css}">
</head>

<header th:replace="~{fragments/indexHeader}"></header>

<body style="margin: 0; background: white">

    <div id="bb1" class="box">
        <div id="bh">
            Explore Roadmaps
        </div>
        <div id="bb2">
            <button id="bu1">Roadmaps</button>
            <button id="bu2" onclick="location.href = '/JobPostings'">Positions</button>
        </div>
    </div>
    <br><br><br><br>

    <div class="button-grid">
        <a th:href="@{/new/roadmap}"
           class="grid-button" th:if="${role == 'admin'}"> <img src="/images/plus.png" alt="Create new Roadmap" width="46" height="46" id="grid-button-plus"></a>
        <a th:href="@{/{id}(id=${roadmap.id})}" class="grid-button" th:each="roadmap : ${roadmaps}" th:text="${roadmap.name}" style="text-decoration: none;"></a>

        <a th:if="${roadmaps.isEmpty and role != 'admin'}"
           style="text-decoration: none; font-size: 40px; font-weight: bold; color: #3e3e3e; display: flex; justify-content: center;">
            No roadmaps to show.
        </a>
    </div>
    <br><br><br><br><br>
</body>

<div th:replace="~{fragments/indexFooter}"></div>
</html>