<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> InternMap </title>
    <link rel="icon" type="image/png" href="/images/Navi/Navi%20Unique.png">
    <link rel="stylesheet" th:href="@{/CSS/InternMapHomepage.css}">
    <link rel="stylesheet" th:href="@{/CSS/footer.css}">
    <link rel="stylesheet" th:href="@{/CSS/header.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>

<header th:replace="~{fragments/indexHeader}"></header>

<body>

    <div id="bb1" class="box">
        <div id="bh">
            Explore Roadmaps
        </div>
        <div id="bb2">
            <button id="bu1">Roadmaps</button>
            <button id="bu2" onclick="location.href = '/JobPostings'">Positions</button>
        </div>
    </div>
<br><br><br><br>

    <div class="button-grid">
        <a th:href="@{/new}"
           class="grid-button" th:if="${isAdmin == true}"> <img src="/images/plus.png" alt="Create new Roadmap" width="46" height="46" id="grid-button-plus"></a>
        <a th:href="@{/{id}(id=${roadmap.id})}"
           class="grid-button"
           th:each="roadmap : ${roadmaps}"
           th:text="${roadmap.name}"
           style="text-decoration: none;">
        </a>

        <a th:if="${roadmaps.isEmpty and isAdmin == false}"
           style="text-decoration: none; font-size: 40px; font-weight: bold; color: #3e3e3e; display: flex; justify-content: center;">
            No roadmaps to show.
        </a>
    </div>
    <br><br><br><br><br>
</body>

<footer>
    <div>
        <!--    <img id="footer-image" src="/images/Footer image.png">-->
        <div id="footer">
            <div id="ft1" class="can-we-stop-with-the-boxes-please">
                InternMap
            </div>
            <div id="ft2">
                <ul class="quick-links">
                    <li>
                        <a onclick="location.href = '/'" style="cursor: pointer">Home </a>
                    </li>
                    <li><a onclick="location.href = '/'" style="cursor: pointer">RoadMaps</a></li>
                    <li><a onclick="location.href = '/JobPostings'" style="cursor: pointer" >JobPostings</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>