<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<head data-th-src="~{fragments/head}">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/InternMapHomepage.css}">
</head>

<header th:replace="~{fragments/indexHeader}"></header>

<body style="margin: 0; background: white">

    <div id="bb1" class="box">
        <div id="bh">
            Explore Roadmaps
        </div>
        <div id="bb2">
            <button id="bu1">Roadmaps</button>
            <button id="bu2" onclick="location.href = '/JobPostings'">Positions</button>
        </div>
    </div>
    <br><br><br><br>

    <div class="button-grid">
        <a th:href="@{/new/roadmap}"
           class="grid-button" th:if="${role == 'admin'}"> <img src="/images/plus.png" alt="Create new Roadmap" width="46" height="46" id="grid-button-plus"></a>
        <a th:href="@{/{id}(id=${roadmap.id})}" class="grid-button" th:each="roadmap : ${roadmaps}" th:text="${roadmap.name}" style="text-decoration: none;"></a>

        <a th:if="${roadmaps.isEmpty and role != 'admin'}"
           style="text-decoration: none; font-size: 40px; font-weight: bold; color: #3e3e3e; display: flex; justify-content: center;">
            No roadmaps to show.
        </a>
    </div>
    <div id="notificationBox" style="
    position: fixed;
    top: 20px;
    right: 20px;
    background: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    display: none;
    z-index: 1000;
">
    </div>
    <script>
        let stompClient = null;

        function connect() {
            let socket = new SockJS('/ws'); // must match your config
            stompClient = Stomp.over(socket);

            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);

                // VERY IMPORTANT
                stompClient.subscribe('/user/queue/notifications', function (notification) {
                    showNotification(notification.body);
                });
            });
        }

        function showNotification(message) {
            let box = document.getElementById("notificationBox");
            box.innerText = message;
            box.style.display = "block";

            setTimeout(() => {
                box.style.display = "none";
            }, 4000);
        }

        connect();
    </script>
    <br><br><br><br><br>
</body>

<div th:replace="~{fragments/indexFooter}"></div>
</html>