<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Sign up </title>
    <link rel="icon" type="image/png" href="/images/Navi/Navi%20Unique.png">
    <link rel="stylesheet" href="/CSS/InternSignUp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>

<div class="wrapper">
    <header>
        <div id="h1">
            <div></div>
            <nav>
                <div id="s1" class="box">
                    <button id="sign-in" onclick="location.href = '/login'">Sign in</button>
                </div>
            </nav>
        </div>
    </header>

    <main>
    <div id="body" class="box">
        <img id="logo" src="/static/images/Logo Glass.png" alt="This didn't load successfully >:(">
        <div id="l1">
            <span id="sign-up-title">Sign up as</span>
        </div>
    </div>
    </main>

    <div th:replace="~{fragments/footer}"></div>
</div>
