<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/head}">
<head data-th-src="~{fragments/head}">
  <title>Sign up</title>
  <link rel="icon" type="image/png" href="/images/Navi/Navi%20Unique%20(Shadow-less).png">
  <link rel="stylesheet" th:href="@{/css/Universal.css}">
  <style>
    div.segmented-control {
      background: var(--secondary-background-color);

      display: flex;
      flex-direction: row;
      padding: 5px 0;
      justify-content: center;
      align-items: center;
      justify-items: center;
      border-radius: 25px;
      font-weight: 500;

      section.segment {
        border-radius: 25px;
        padding: 10px 10.45%;
      }

      #student-segment {
        background: var(--background-color);
      }

      label {
        margin-bottom: -8px;
        text-size-adjust: 90%;
      }

      input[type="radio"] {
        align-self: center;
        display: none;
      }
    }
  </style>
</head>


<body>
<div th:replace="~{fragments/Notification}"></div>
<div class="centered">
  <br><br><br>
  <a th:href="@{/}" style="border-radius: 200px;" inert><img src="/images/Navi/Navi%20Unique.png" alt="Logo" style="width: 100px; height: 100px;"></a>
  <br>
<div class="container">
  <h1>Sign Up</h1>

  <!-- SEGMENTED CONTROL -->
  <div class="segmented-control full-width" id="segmented-control">
    <section class="segment" id="admin-segment">
    <input type="radio" id="admin" name="role" value="admin-view" style="">
    <label for="admin">Admin</label>
    </section>
    <br>

    <section class="segment" id="student-segment">
    <input type="radio" id="student" name="role" value="student-view" style="" checked>
    <label for="student">Student</label>
    </section>
    <br>

    <section class="segment" id="recruiter-segment">
    <input type="radio" id="recruiter" name="role" value="recruiter-view" style="">
    <label for="recruiter">Recruiter</label>
    </section>
    <br>
  </div>
  <br>

  <!--/*@thymesVar id="errorMessage" type="String"*/-->
  <div th:if="${errorMessage}" style="color:red; border:0 solid red; padding:2px; margin-bottom:15px; font-weight: 550;">
    <p th:text="${errorMessage}"></p>
  </div>

  <!-- STUDENT Sign in VIEW -->
  <div class="signup-view full-width" id="student-view">
    <form class="full-width" th:action="@{/student/register}" th:object="${user}" method="post">

      <label for="student-first-name">First Name:</label>
        <input type="text" id="student-first-name" th:field="*{FName}" placeholder="Intern" required autocomplete="given-name"/>
      <br><br>

      <label for="student-last-name">Last Name:</label>
        <input type="text" id="student-last-name" th:field="*{LName}" placeholder="Map" required autocomplete="family-name" />
      <br><br>

      <label for="student-email">Email:</label>
        <input type="email" id="student-email" th:field="*{email}" placeholder="Email" required autocomplete="email"/>
      <br><br>

      <label for="student-password">Password:</label>
        <input type="password" id="student-password" th:field="*{password}" placeholder="Password" required autocomplete="new-password"/>
      <br><br>

      <label for="graudating-year">Graduating Year:</label>
        <input type="text" id="graudating-year" th:field="*{graduatingYear}" placeholder="2094" required/>
      <br><br>

      <label for="university" >University:</label>
        <input type="text" id="university" th:field="*{uniName}" placeholder="Harvard" required/>
      <br><br>

      <label for="major">Major:</label>
        <input type="text" id="major" th:field="*{studentMajor}" placeholder="Major" required/>
      <br><br>

      <label for="faculty">Faculty:</label>
        <input type="text" id="faculty" th:field="*{faculty}" placeholder="Arts & Design" required/>
      <br><br>

    <input type="submit" class="form-submit" value="Create Account">
    </form>

    <br>
    <p style="justify-self: center; align-self: center; font-size: 14px; font-weight: 400;">Already have an account? <a style="color: rgb(49, 131, 254); font-weight: 600; border-radius: 200px; text-decoration: none;" th:href="@{/login}">Sign in</a></p>
    <br>
  </div>

  <!-- RECRUITER Sign in VIEW -->
  <div class="signup-view full-width" id="recruiter-view" style="display: none;">
    <form class="full-width" th:action="@{/recruiter/register}" th:object="${recruiterRegistrationDTO}" method="post">
      <label for="recruiter-first-name">First Name:</label>
        <input type="text" id="recruiter-first-name" th:field="*{user.FName}" placeholder="Intern" required autocomplete="given-name"/>
      <br><br>

      <label for="recruiter-last-name">Last Name:</label>
        <input type="text" id="recruiter-last-name" th:field="*{user.LName}" placeholder="Map" required autocomplete="family-name"/>
      <br><br>

      <label for="recruiter-email">Email:</label>
        <input type="email" id="recruiter-email" th:field="*{user.email}" placeholder="example@intern.com" required autocomplete="email"/>
      <br><br>

      <label for="recruiter-password">Password:</label>
        <input type="password" id="recruiter-password" th:field="*{user.password}" placeholder="Enter your password" required autocomplete="new-password" />
      <br><br>

      <label for="Title">Job Title:</label>
        <input type="text" id="Title" th:field="*{user.title}" placeholder="Chief Executive Officer" required />
      <br><br>

      <label for="Company's Name" >Company's Name:</label>
        <input type="text" id="Company's Name" th:field="*{company.name}" placeholder="InternMap">
      <br><br>

      <input type="submit" class="form-submit" value="Create Account">

    </form>

    <br>
    <p style="justify-self: center; align-self: center;  font-size: 14px; font-weight: 400;">Don't have a company yet? <a style="color: rgb(49, 131, 254); font-weight: 600; border-radius: 200px; text-decoration: none;" th:href="@{/recruiter/company/register}">Create a company</a></p>
    <p style="justify-self: center; align-self: center;  font-size: 14px; font-weight: 400;">Already have an account? <a style="color: rgb(49, 131, 254); font-weight: 600; border-radius: 200px; text-decoration: none;" th:href="@{/login}">Sign in</a></p>
    <br>

  </div>

  <!-- ADMIN Sign in VIEW -->
  <div class="signup-view full-width" id="admin-view" style="display: none;">
    <form class="full-width" th:action="@{/admin/register}" th:object="${user}" method="post">
      <label for="admin-first-name">First Name:</label>
        <input type="text" id="admin-first-name" class="form-input" th:field="*{FName}" placeholder="First name" required autocomplete="given-name"/>
      <br><br>

      <label for="admin-last-name">Last Name:</label>
        <input type="text" id="admin-last-name" class="form-input" th:field="*{LName}" placeholder="Last name" required autocomplete="family-name"/>
      <br><br>

      <label for="admin-email">Email:</label>
        <input type="email" id="admin-email" class="form-input" th:field="*{email}" placeholder="Email" required autocomplete="email"/>
      <br><br>

      <label for="admin-password">Password:</label>
        <input type="password" id="admin-password" class="form-input" th:field="*{password}" placeholder="Password" required autocomplete="new-password"/>
      <br><br>

  <input type="submit" class="form-submit" value="Create Account">
      </form>

    <br>
    <p style="justify-self: center; align-self: center;  font-size: 14px; font-weight: 400;">Already have an account? <a style="color: rgb(49, 131, 254); font-weight: 600; border-radius: 200px; text-decoration: none;" th:href="@{/login}">Sign in</a></p>
    <br>
    </div>
</div>
</div>
<br>

<script>
  const rootStyles = window.getComputedStyle(document.documentElement);

  document.addEventListener('DOMContentLoaded', () => {
    const controlsContainer = document.getElementById('segmented-control');

    controlsContainer.addEventListener('change', (e) => {
      if (e.target && e.target.matches('input[type="radio"]')) {
        const selectedValue = e.target.value;
        switchView(selectedValue);
      }
    });

    function switchView(viewId) {
      // Hide all content views
      document.querySelectorAll('.signup-view').forEach(view => {
        view.style.display = 'none';
      });

      document.querySelectorAll('.segment').forEach(segment => {
        segment.style.background = 'none';
      })

      switch (viewId) {
        case 'student-view':
          document.getElementById('student-segment').style.background = rootStyles.getPropertyValue('--background-color').trim();
          break;
        case 'recruiter-view':
          document.getElementById('recruiter-segment').style.background = rootStyles.getPropertyValue('--background-color').trim();
          break;
        case 'admin-view':
          document.getElementById('admin-segment').style.background = rootStyles.getPropertyValue('--background-color').trim();
      }

      // Show the selected view
      const selectedView = document.getElementById(viewId);
      if (selectedView) {
        selectedView.style.display = 'block';
      }
    }

    // Initialize on page load (optional, based on 'checked' attribute)
    // switchView(document.querySelector('input[name="view-group"]:checked').value);
  });
</script>

</body>

</html>